.tabs {
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 2px;
    height: auto;
    z-index: 1;
  }
  
  .tab {
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(33, 33, 33);
    cursor: pointer;
    transition: color 0.1s ease-in-out;
  }
  
  .tab:hover {
    color: rgba(94, 94, 94, 0.8);
  }
  
  .activeTab {
    color: rgba(255, 255, 255, 1);
    border-bottom: 4px solid #ffffff;
    color: oldlace;
    background: #272a2d;
  
  }
  .spinner {
    width: 32px;
    height: 32px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #555;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }
  .tabContent {
    display: none;
    height: 0px;
    opacity: 0;
    transition: all 0.1s linear;
  }
  
  .activeTabContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1px;
    width: 100%;
  }